:root{
    --circuit-properties-height: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-toggle{
    position: absolute;
    right: 16px;
    bottom: 16px;
    box-shadow: 0 5px 8px 4px #0000001e;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.grid-toggle path{
    transition: all 200ms linear;
}

.workspace{
    position: absolute;
    top: calc(var(--circuit-properties-height));
    right: 0;
    bottom: 0;
    left: 256px;
    overflow: scroll;
}
.workspace::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
    width: 5px;
}
.workspace::-webkit-scrollbar-thumb{
    background-color: #424242;
    width: 5px;
}

.gates-panel{
    position: absolute;
    left: 0;
    top: var(--circuit-properties-height);
    bottom: 0;
    width: 256px;
    background-color: white;
    border-top: 1px solid lightgray;
    overflow-y: scroll;
}
.gates-panel::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
    width: 5px;
}
.gates-panel::-webkit-scrollbar-thumb{
    background-color: #424242;
    width: 5px;
}

.circuit-properties{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--circuit-properties-height);
    background-color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.tools{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}
.tools::before{
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    background-color: lightgray;
    height: calc(1.6rem);
}
.tools:nth-last-child(1)::before{
    width: 0;
}
.tools svg {
    cursor: pointer;
}
.tools>*{
    margin: 0 5px;
}
.tools input{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 2px 5px;
}
.tools input:focus{
    border-color: black;
    outline: 1px solid black;
}

.gate{
    position: relative;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    user-select: none;
}
.gate__img{
    position: relative;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(180, 180, 180);
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
    cursor: grab;
}
.gate__img::after{
    position: absolute;
    background-color: white;
    height: 20px;
    width: 20px;
    right: -10px;
    content: '';
    border-radius: 50%;
}
.bottom-leg, .top-leg{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #8b8b8b;
}
.bottom-leg{
    border-radius: 0 0 3px 3px;
    bottom: -10px;
}
.top-leg{
    border-radius: 3px 3px 0 0;
    top: -10px;
}
.bottom-leg:nth-child(1), .top-leg:nth-child(6){
    left: 15px;
}
.bottom-leg:nth-child(2), .top-leg:nth-child(7){
    left: 45px;
}
.bottom-leg:nth-child(3), .top-leg:nth-child(8){
    left: 75px;
}
.bottom-leg:nth-child(4), .top-leg:nth-child(9){
    left: 105px;
}
.bottom-leg:nth-child(5), .top-leg:nth-child(10){
    left: 135px;
}
.gate__title{
    margin-top: 25px;
    font-weight: bolder;
    max-width: 80%;
    word-wrap: break-word;
}
.gate:hover .gate__edit{
    display: block;
}
.gate__edit{
    display: none;
    position: absolute;
    top: 115px;
    right: 20px;
    cursor: pointer;
}